---
import { Image } from "astro:assets";
import * as marked from "marked";
import UserProfileImage from "../assets/user-profile-image.png";
import dataList from "../data/user.json";

const renderer = {
  paragraph({ tokens }) {
    const text = this.parser.parseInline(tokens);
    return `<p class="profile-profession">${text}</p>`;
  },
  link({ tokens, href }) {
    console.log(tokens, href);
    const text = this.parser.parseInline(tokens);
    return `<a href="${href}" target="_blank" style="color: var(--zinc-400)">${text}</a>`;
  },
};

marked.use({ renderer });

const profession = marked.parse(dataList.profession, {
  async: false,
  gfm: false,
});
console.log(profession);
---

<header class="profile">
  <div class="profile-picture-content">
    <figure class="profile-picture">
      <Image
        src={UserProfileImage}
        alt="Ess sou eu! Foto do Bruno Germano em seu escritório segurando o óculos."
        width={100}
        height={100}
        loading="lazy"
        decoding="async"
        fetchpriority="low"
      />
    </figure>
  </div>
  <div class="profile-data">
    <h1 class="profile-name">{dataList.name}</h1>
    <Fragment set:html={profession} />
  </div>
</header>

<style>
  .profile {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-picture-content {
    padding: 0.5rem;
    border-radius: 100%;
    border: 1px solid var(--zinc-800);
  }

  .profile-picture {
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: 1px solid var(--zinc-800);
    overflow: hidden;
  }

  .profile-picture img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .profile-data {
    margin-top: 1.125rem;
    text-align: center;
  }
  .profile-name {
    font-size: 1.125rem;
    font-weight: normal;
  }

  .profile-profession {
    font-size: 0.875rem;
    color: var(--zinc-400);
  }
</style>
